@layer preset {
  :root {
    --p-toast-width: fit-content;
    // --p-toast-content-padding: 1rem;
    // --p-toast-content-gap: 1rem;
    --p-toast-summary-font-weight: 700;
    --p-toast-summary-font-size: 1rem;
    --p-toast-detail-font-weight: 400;
    --p-toast-detail-font-size: initial;
  }
}
