@use '@/assets/styles/variables' as *;
@use '@/assets/styles/mixins' as *;

@layer app {
  ::-webkit-scrollbar {
    width: 1.25rem;
    height: 1.25rem;
    background-color: transparent;
  }
  ::-webkit-scrollbar-button {
    display: none;
  }
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 100rem;
    border: 0.5rem solid transparent;
    background-clip: padding-box;
    background-color: var(--p-primary-400);
    &:hover {
      background-color: var(--p-primary-color);
    }
  }

  ::selection {
    background: #edeff6;
  }

  [placeholder] {
    text-overflow: ellipsis;
  }

  body {
    @include font-base(14px);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: var(--p-surface-800);
    word-break: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    background: #edeff6;
    background-repeat: no-repeat;
    scrollbar-width: thin;
    overflow-x: hidden;
  }

  picture {
    display: block;
    width: 100%;
    height: 100%;
  }

  img {
    height: 100%;
    object-fit: cover;
  }

  th {
    font-weight: initial;
  }

  button {
    text-wrap: nowrap;
  }

  small {
    font-size: 1.2rem;
  }

  textarea {
    resize: none;
  }

  a {
    text-decoration: none;
    color: inherit;
    @include active {
      color: var(--p-primary-color);
    }
  }

  .icon {
    display: inline-block;
    font-size: 2rem;
    transition-property: transform;
    transition-duration: var(--p-transition-duration);
    &-message-send {
      width: 2.2rem;
      height: 2.2rem;
      path {
        transform: scale(0.76);
        transform-origin: left 30%;
      }
    }
    &-favicon {
      width: 7.2rem;
      height: 7.2rem;
    }
    &-plus {
      &--transform {
        transform: rotate(45deg);
      }
    }
  }
}
